<center>
    <p id="notice"><%= notice %></p>

    <div style="margin-bottom: 20px;">MANAGE Party Name: <%= @party.party_name %></div>

    <div style="font-size: 28px;">
    <% unless @activated %>
        <%= form_tag party_start_path(@party) do %>
            <%= submit_tag "Start Matching Teams", style: "display: inline;" %><br>
        <% end %>


    <% else %>
        This party has been matched! <%= link_to results_path(Result.find_by_result_name(@party.party_name)) %>
    <% end %>

    <div style="font-size: 30px;"><br>Current Usernames:</div>
    <% @party.usernames.each_with_index do |username, index| %>
        <div style="font-size: 20px;"><%= username %><%= form_tag party_remove_user_path(@party, index: index), style: "display: inline;" do %>
            <%= submit_tag "x", style: "display: inline;" %><br>
        <% end %></div>
    <% end %>

    <br>
    <%= link_to 'Back', parties_path %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Delete', @party, method: :delete, data: { confirm: 'Are you sure?' }, style: "display: inline;"  %>
<br>
    </div>

    <div id="footer" style="margin-top: 20px;">
        A hackathon project by Zachary Espiritu &amp; Isabella Berry, made at hackCooper 2016<br>
            <a href="/">The Less Practical Version</a> | <a href="https://github.com/ZacharyEspiritu/github-dating-simulator">Source Code</a> | <a href="http://zacharyespiritu.com">Contact</a>
    </div>

</center>
