<style>
.match-card {
    width: 370px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    position: relative;
    font-size: 16px;
    background-color: white;
    color: black;
    margin: 15px;
}

.card-header {
    width: 370px;
    height: 8px;
    background-color: black;
    vertical-align: middle;
}

.card-row {
    display: table;
    width: 370px;
    height: 80px;
}

.card-picture {
    display: table-cell;
    width: 80px;
    height: 80px;
}

.card-picture img {
    width: 80px;
    height: 80px;
}

.card-name {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 290px;
    height: 80px;
    padding-left: 12px;
}

.card-percentage {
    position: absolute;
    top: 85px;
    right: 20px;
    font-size: 24px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.links {
    margin-left: 20px;
    margin-right: 20px;
}
</style>

<header>
    <h1>Results</h1>
</header>
<main>
    <div class="cards">
        <% @match_data.each do |data| %>
            <% if data.first == 0 %>
                <div class="match-card">
                    <%= data.second %> was unable to be matched...
                </div>
            <% else %>
                <% percentage = data.first %>
                <% user_1 = data.second %>
                <% user_2 = data.third %>

                <div class="match-card">
                    <div class="card-header"></div>
                    <div class="card-row">
                        <div class="card-picture">
                            <%= image_tag UserData.find_by(username: user_1).avatar_url %>
                        </div>
                        <div class="card-name">
                            <%= user_1 %>
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-picture">
                            <%= image_tag UserData.find_by(username: user_2).avatar_url %>
                        </div>
                        <div class="card-name">
                            <%= user_2 %>
                        </div>
                    </div>
                    <div>
                        Idea:<br>
                        <%= data.fourth.first %>
                    </div>
                    <div class="card-percentage">
                        <%= percentage %>%
                        <%= data.fifth %>
                    </div>
                </div>
            <% end %>
            <br>
        <% end %>
    </div>
    <div class="cards">
        <div class="links">print</div>
        <div class="links">more data</div>
        <div class="links">home</div>
    </div>
</main>
<footer class="footer">
    A hackathon project by Zachary Espiritu &amp; Isabella Berry, made at hackCooper 2016<br>
    <a href="/practical">The More Practical Version</a> | <a href="https://github.com/ZacharyEspiritu/github-dating-simulator">Source Code</a> | <a href="http://zacharyespiritu.com">Contact</a>
</footer>
